body
{
	background-color: blue;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
		width: 30%;
		height: 150px;
		background-color: white;
	}
h1{
	color: black;
}
h3{
		color: black;
}
label{
		color: black;
}

#output
{
	background: white;
	border-radius: 10px;
	border-top: 10px solid crimson;
	padding: 10px;
	float: none;
	text-align: left;
}